<h1>Login</h1>

<form action="/login" method="POST">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
</form>

<button type="submit">SUBMIT</button>

<a href="/register">click for REGISTER page</a>
